@model GymMarombex.Models.Avaliacoes

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Avaliacoes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Alunos.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alunos.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Funcionarios.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Funcionarios.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InfoAnamnese)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InfoAnamnese)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExameDobrasCutaneas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExameDobrasCutaneas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExameErgometrico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExameErgometrico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataRealizacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataRealizacao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AvaliacaoID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
