@model GymMarombex.Models.AlunoAula

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AlunoAula</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Alunos.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alunos.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aulas.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aulas.Descricao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AlunoAulaID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
