@model IEnumerable<GymMarombex.Models.DadoFinanceiros>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AvisoFerias.DescricaoMotivo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FormasPagmtos.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Planos.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValorTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeroParcelaAtual)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MelhorDiaMesPagmto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataPrimeiroPagmto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataUltimoPagmto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataRealizacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValorJaPago)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValorParcela)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QtdParcelas)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AvisoFerias.DescricaoMotivo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FormasPagmtos.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Planos.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValorTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumeroParcelaAtual)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MelhorDiaMesPagmto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataPrimeiroPagmto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataUltimoPagmto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataRealizacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValorJaPago)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValorParcela)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QtdParcelas)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DadoFinanceiroID }) |
            @Html.ActionLink("Details", "Details", new { id=item.DadoFinanceiroID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DadoFinanceiroID })
        </td>
    </tr>
}

</table>
