@model GymMarombex.Models.UsuarioAula

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>UsuarioAula</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Aulas.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aulas.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuarios.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuarios.Nome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UsuarioAulaID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
