@model IEnumerable<GymMarombex.Models.UsuarioAula>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Aulas.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuarios.Nome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Aulas.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuarios.Nome)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UsuarioAulaID }) |
            @Html.ActionLink("Details", "Details", new { id=item.UsuarioAulaID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UsuarioAulaID })
        </td>
    </tr>
}

</table>
